@charset "UTF-8";
/* CSS Document */

body {
	background-color: #454B51;
	color: #FFFFFF;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
}

.clearfix {
	clear: both;
}

.container {
	width: 350px;
	overflow: auto;
	margin: 40px auto;
	background-color: #5F5F5F;
	padding-bottom: 40px;
	border-radius: 10px;
}

.board li {
	float: left;
	margin: 10px;
	height: 70px;
	width: 70px;
	font-size: 50px;
	background-color: #323232;
	color: #FFFFFF;
	list-style: none;
	text-align: center;
	border-radius: 5px;
}

.board li:hover, .reset:hover{
	cursor: pointer;
	background-color: #000;
}

.reset {
	border: 0;
	background-color: #444;
	color: white;
	width: 70%;
	padding: 15px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 15px;
}

.o {
	color: green; !important
}

.x {
	color: red; !important
}

footer {
	display: block;
	text-align: center;
	padding-top: 20px;
}